/libraries/
*.py[cod]

# Various data input/output folders
/approx
/results

# PyCharm project stuff
.idea

# C extensions
*.so
*.o

#Eval output
*.png
*.net

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

#Latex output
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.pdf